.body {
  background-color: #f4eeee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }
header {
  background-color: Orange;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}


.logo {
  font-size: 25px;
  font-weight: bold;
}

.search-box {
  flex: 1;
  margin: 0 20px;
  /* margin-left: auto; */
  
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 2px;
}

.header-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}
.categories {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 15px 0;
}

.category {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.banner {
  margin: 20px;
}

.banner img {
height: 250px;
  width: 100%;
  border-radius: 5px;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.product-card h4 {
  margin: 10px 0;
  font-size: 16px;
}

.product-card p {
  color: green;
  font-weight: bold;
}
footer {
  background-color: #6590dc;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}